In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

np.random.seed(42)

In [21]:
df = pd.read_csv('classroom_actions.csv')
df.head()

                    timestamp      id       group  total_days  completed
0  2015-08-10 17:06:01.032740  610019  experiment          97       True
1  2015-08-10 17:15:28.950975  690224     control          75      False
2  2015-08-10 17:34:40.920384  564994  experiment         128       True
3  2015-08-10 17:50:39.847374  849588  experiment          66      False
4  2015-08-10 19:10:40.650599  849826  experiment          34      False

In [23]:
# Create dataframe with all control records
control_df = df.query('group=="control"')

# Compute completion rate
control_cr = control_df.query('completed==True').count()[0]/len(control_df)
# Display completion rate
control_cr

0.37199519230769229

In [24]:
# Create dataframe with all experiment records
experiment_df = df.query('group=="experiment"')

# Compute completion rate
experiment_cr = experiment_df.query('completed==True').count()[0]/len(experiment_df)

# Display completion rate
experiment_cr

0.39353348729792148

In [ ]:
# Compute observed difference in completion rates
obs_diff = experiment_cr - control_cr

# Display observed difference in completion rates
obs_diff

0.02153829499022919

In [ ]:
# Create sampling distribution for difference in completion rates
# with boostrapping
diffs = []
for _ in range(10000):
    boot_samp = df.sample(len(df), replace=True)
    control_cr = boot_samp.query('group=="control" & completed==True').count()[0]/len(boot_samp.query('group=="control"'))
    experiment_cr = boot_samp.query('group=="experiment" & completed==True').count()[0]/len(boot_samp.query('group=="experiment"'))
    diffs.append(experiment_cr - control_cr)

In [ ]:
# convert to numpy array
diffs = np.array(diffs)

In [ ]:
# plot distribution
plt.hist(diffs);

In [ ]:
# create distribution under the null hypothesis
null_vals = np.random.normal(0, diffs.std(), diffs.size)

In [ ]:
# plot null distribution
plt.hist(null_vals)

# plot line for observed statistic
plt.axvline(x=obs_diff, color='red')

In [ ]:
# compute p value
p_value = (null_vals > obs_diff).mean()
p_value