In [1]:
import pandas as pd

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [5]:
# total number of actions
total_num_actions = len(df.action)
total_num_actions

8188

In [4]:
# number of unique users
num_unique_visitors = df.id.nunique()
num_unique_visitors

6328

In [37]:
# size of control group and experiment group
control_size = df.query("group == 'control'")['id'].nunique()
experiment_size = df.query("group=='experiment'")['id'].nunique()
control_size, experiment_size

(3332, 2996)

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [29]:
# duration of this experiment
latest = pd.to_datetime(df.timestamp[8187])
earliest = pd.to_datetime(df.timestamp[0])
duration = latest - earliest
duration

Timedelta('115 days 16:41:40.789831')

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)

In [30]:
# action types in this experiment
df.action.unique()

array(['view', 'click'], dtype=object)

### 4. Why would we use click through rate instead of number of clicks to compare the performances of control and experiment pages?

One user could have many clicks, but having the number of views from each unique user takes into account the total number of people the new feature affects which is want we really care about

### 5. Define the click through rate (CTR) for this experiment.

#number of unique visitors who click at least once/#number of views by unique users

### 6. What are the null and alternative hypotheses?
Use $CTR_{old}$ and $CTR_{new}$ in your hypotheses.

$$H_0: CTR_{new} \leq CTR_{old}$$
$$H_0: CTR_{new} - CTR_{old} \leq 0$$

$$H_1: CTR_{new} > CTR_{old}$$
$$H_1: CTR_{new} - CTR_{old} > 0 $$